spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/project-chaos}
    username: ${SPRING_DATASOURCE_USERNAME:admin}
    password: ${SPRING_DATASOURCE_PASSWORD:admin123}

  cloud:
    gcp:
      sql:
        enabled: false
      core:
        enabled: false

  liquibase:
    contexts: dev
    drop-first: true

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    sun.rmi: WARN
    javax.management.remote.rmi: WARN

app:
  frontend-dashboard-url: http://localhost:3000/dashboard
  security:
    cookie:
      domain: localhost
      secure: false
